html, body {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    list-style-type: none;
}

/*.img-fundo {
    background-image: url('../img/fundo-intro.png');
    height: 1024px;
}*/

.img-fundo {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique por cima da camada de opacidade */
    background-color: #000; 
    min-height: 100vh;
}

.img-fundo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo-intro.png');
    background-size: cover;
    background-position: center center;
    opacity: 0.9; 
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso é uma boa prática e pode ajudar */
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
    
}