.sobre {
    background-color: #563B3B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0;
}

.container-sobre {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
}

.sobre-titulo {
    color: #fff;
    margin-bottom: 40px;
}

.sobre-titulo {
    font-size: 48px;
    font-weight: 200;
}

.sobre-texto {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    max-width: 40ch;
    line-height: 1.6;
}

.sobre-imagem {
    width: 600px;
    padding-top: 120px;
}


